.page-index{
  margin: $r*2 0;
}

[class^="page-index__item"]{
  $default-bg: $c-pastel-gray;
  position: relative;
  margin: $r*1 0;
  @include unselectable;

  .-number {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
  }

  .-background-box{
    position: relative;
    height: 64px;
    padding: $r;
    background: $default-bg;
    box-shadow: 1px 1px 0px #333;
    cursor: pointer;

    &:hover{
      top: -1px;
      left: -1px;
      box-shadow: 2px 2px 0px #333;
    }

    &:active{
      top: 1px;
      left: 1px;
      box-shadow: inset 1px 1px 0px #333;
    }
  }

  .-top-row{
    line-height: $x-height;
    margin-bottom: 12px;
    color: darken($default-bg, 50%);
    text-shadow: 1px 1px lighten($default-bg, 10%);
  }

  .-title{
    font-size: 22px;
    line-height: 1.2;
    margin-top: -0.25em;
  }

  .-offset-message{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 102.25%;
    padding: 0 2px;
    white-space: nowrap;
    font-size: 48px;
    line-height: 74px;
  }

  $status-colors: ((draft, $c-pastel-amber),
                  (complete, $c-pastel-green),
                  (help, $c-pastel-red),
                  (idea, $c-pastel-blue));

  @each $pair in $status-colors {
    $status: nth($pair, 1);
    $color: nth($pair, 2);

    &.-status-#{$status}{
      .-background-box{
        background: $color;
      }

      .-top-row{
        color: darken($color, 50%);
        text-shadow: 1px 1px lighten($color, 10%);
      }
    }
  }

  &.-status-saving{
    animation: blink 0.5s steps(1) infinite alternate;
  }

  &.-status-past{
    opacity: 0.25;
  }

}
