// $c-scheme-hue

// c-pastel-               // s:25 b:90
$c-pastel-gray:   #e5e5e5;
$c-pastel-red:    #e5acac; // h:0
$c-pastel-orange: #e5c4ac; // h:25
$c-pastel-amber:  #e5dcac; // h:50
$c-pastel-lime:   #d7e5ac; // h:75
$c-pastel-green:  #ace5b1; // h:125
$c-pastel-cyan:   #ace5e1; // h:175
$c-pastel-blue:   #acd2e5; // h:200
$c-pastel-indigo: #acbae5; // h:225
$c-pastel-magenta:#ceace5; // h:275
$c-pastel-pink:   #e5acce; // h:325

$c-pastel-list:  (('gray', $c-pastel-gray),
                  ('red', $c-pastel-red),
                  ('orange', $c-pastel-orange),
                  ('amber', $c-pastel-amber),
                  ('lime', $c-pastel-lime),
                  ('green', $c-pastel-green),
                  ('cyan', $c-pastel-cyan),
                  ('blue', $c-pastel-blue),
                  ('indigo', $c-pastel-indigo),
                  ('magenta', $c-pastel-magenta),
                  ('pink', $c-pastel-pink));

// c-bright-
$c-bright-amber: hsl(50, 90, 50);
$c-bright-red:   hsl(0, 90, 50);
$c-bright-green: hsl(125, 90, 50);
