.max-400{
  max-width: 400px;
}

.relative{
  position: relative;
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vertical-center{
  position: absolute;
  top: 50%;
  width: 100%;
}

.gutterless{
  padding: 0;
}

.padding-left-r{
  padding-left: $r;
}

.padding-left-2r{
  padding-left: $r*2;
}

.padding-right-r{
  padding-right: $r;
}

.padding-right-2r{
  padding-right: $r*2;
}
