@mixin unselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	*{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

@mixin placeholder($color){
	&::-webkit-input-placeholder{ color: $color; }
	&:-moz-placeholder{ 					color: $color; }
	&::-moz-placeholder{ 					color: $color; }
	&::-ms-input-placeholder{ 		color: $color; }
}

@mixin media($type) {
	$breakpoints: "sm", "md", "lg";
	$breakpoint_values: ("sm", 768px), ("md", 992px), ("lg", 1200px);
	$picked: nth(nth($breakpoint_values, index($breakpoints, $type)), 2);

	@media (min-width: $picked){
		@content;
	}
}
